@using Microsoft.AspNetCore.Routing
@{
    var routevalues = Context.GetRouteData().Values.ToDictionary(key => key.Key, value => value.Value.ToString());

    routevalues.Add("Id", Model);
}

<div>

    
        <a   data-ajax="true" data-ajax-mode="replace" data-ajax-update="#Main" href="@Url.Action("Details",routevalues)">Details</a>
  
       
        <a  data-ajax="true" data-ajax-mode="replace" data-ajax-update="#Main" href="@Url.Action("Edit",routevalues)">Edit</a>
   
      
        <a   data-ajax="true" data-ajax-mode="replace" data-ajax-update="#Main" data-ajax- data-ajax-confirm="您确定要删除该记录吗？该操作不可恢复！" co href="@Url.Action("Delete",routevalues)">Delete</a>

</div>
